<!DOCTYPE html>
<html>
  <head>
    <title>Redimo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </body>
</html>
